* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 11.5pt; }

header {
  background-color: #69d2e7;
  border-top: 4.5px solid #fa6900;
  padding: 15px; }

.header_logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header_logo p {
  padding-left: 8px; }

.header_logo strong {
  font-size: 125%;
  text-transform: uppercase; }

.header_center h1 span {
  font-size: 300%;
  font-weight: bold;
  color: white;
  text-transform: uppercase; }

.header_center h1 {
  font-size: 195%;
  font-weight: bold;
  text-transform: uppercase; }

.header_center {
  text-align: center;
  margin-top: 75px;
  padding-bottom: 154px;
  color: white;
  text-transform: uppercase; }

.navbar-default {
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: bold; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none; }

.navbar-nav > li {
  background-color: #fa6900;
  margin-bottom: 5px;
  padding: 3px; }

.navbar-default .navbar-nav > li > a {
  color: white; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: white; }

.navbar-default .navbar-toggle {
  border-color: white;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s; }

.navbar-default .navbar-toggle:hover {
  background-color: #fa6900; }

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 7px; }

header .col-md-4 {
  padding-top: 15px; }

.about-us {
  background-color: #f1f1f1;
  padding-bottom: 7%; }

.about-us .row {
  width: 85%;
  margin: 0px auto; }

.about-us_info {
  text-align: center;
  background-color: white;
  -webkit-border-radius: 14px;
          border-radius: 14px;
  position: relative;
  top: -90px;
  padding-bottom: 5%;
  -webkit-box-shadow: 0 0 15px lightgray;
          box-shadow: 0 0 15px lightgray; }

.about-us_info h2 {
  display: inline-block;
  padding: 17px 15%;
  border-bottom: 1.7px solid #d5d5d5;
  text-transform: uppercase;
  font-weight: bold; }

.about-us_info p {
  padding: 5px 14%;
  font-size: 135%;
  text-align: left;
  line-height: 1.7; }

.about-us_benefits {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.abouts-us_images {
  background-color: white;
  text-align: center;
  padding: 15px;
  overflow: hidden; }

.abouts-us_images img {
  height: 158px; }

.about-us_benefits h3 {
  text-align: center;
  font-weight: 500;
  line-height: 1.4;
  font-weight: 500; }

.about-us_benefits:nth-child(2) .abouts-us_images {
  background-color: #69d2e7; }

.slider {
  background-color: #fa6900;
  padding-bottom: 3%; }

.slider .slick-slide img {
  display: none; }

.slider .slick-slide img {
  width: 100%;
  margin: 0px auto; }

.slider .slick-active img {
  display: block;
  width: 100%;
  position: relative;
  opacity: 0.7;
  right: -49%;
  z-index: 1; }

.slider h3 {
  text-align: center;
  padding: 3%;
  line-height: 1.4;
  color: white;
  padding: 45px 10%; }

.slider .slick-current + .slick-active img {
  right: 49%; }

.slider .slick-current img {
  opacity: 1 !important;
  right: 0%;
  z-index: 999; }

.slick-next {
  right: 37%;
  color: gray; }

.slick-prev {
  left: 37%;
  z-index: 9999; }

.slick-slide {
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s; }

.slick-next:before, .slick-prev:before {
  color: gray; }

.reviews {
  background-color: #f1f1f1;
  padding: 5%; }

.reviews .slick-slide img {
  background-color: white;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 30px;
  width: 114px;
  height: 121px;
  margin: 0px auto;
  margin-bottom: 15px; }

.slider_reviews .slick-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-item: center;
  text-align: center; }

.slider_reviews .slick-slide strong {
  margin: 15px;
  margin-bottom: 3px; }

.slider_reviews .slick-slide p {
  margin: 17.5px;
  padding: 0px 25%; }

.slick-dots li button:before {
  content: " ";
  background-color: white;
  font-size: 18px;
  opacity: 1;
  -webkit-box-shadow: 0 0 10px lightgray;
          box-shadow: 0 0 10px lightgray;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  line-height: 1;
  border: 1px solid white; }

.slick-dots li.slick-active button:before {
  background-color: #69d2e7; }

.reviews .slick-arrow {
  display: none !important; }

.information {
  background-color: #fa6900;
  overflow: hidden; }

.information_right > div {
  background-color: white;
  width: 1000px;
  height: 1000px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  top: -203px;
  position: absolute; }

.information_right {
  overflow: hidden; }

.information_left {
  padding: 23% 7%;
  color: white; }

.information_left h3 strong {
  font-size: 21pt; }

.information_left h3 {
  font-weight: 300;
  padding-bottom: 30px; }

.information_left p {
  font-weight: 300; }

.information_right > div:after {
  position: absolute;
  width: 100vw;
  height: 100vw;
  content: " ";
  background-color: white;
  display: block;
  left: 30vw; }

.footer {
  padding: 5%; }

.footer_logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.footer_logo p {
  padding-left: 8px; }

.footer_logo strong {
  font-size: 125%;
  text-transform: uppercase; }

.footer_social-item {
  padding: 8px;
  border: 1px solid black;
  float: left; }

.footer_social {
  overflow: hidden;
  margin: 18px 0px; }

.footer .col-md-6 {
  padding: 25px 40px; }

.footer_info {
  margin-top: 18px; }

.footer_info p {
  padding-bottom: 25px; }

.footer h4 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 0px;
  line-height: 1; }

.footer_posts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  aligng-items: center; }

.footer_post > div {
  width: 100px;
  height: 100px;
  background-color: white;
  float: left;
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
  margin-right: 19px; }

.footer_post {
  margin-top: 18px; }

.footer-bottom {
  background-color: #69d2e7;
  padding: 18px; }

.footer-bottom .col-md-6 {
  text-align: right; }

.footer-bottom .col-md-6:first-child {
  text-align: left; }

.footer-bottom .col-md-6 p {
  color: white; }

@media (max-width: 769px) {
  body {
    font-size: 14px; }
  .navbar-toggle {
    float: none;
    margin: 0px auto; }
  .header_center {
    padding-bottom: 15px; }
  .header_right {
    padding-bottom: 109px; }
  .about-us .row {
    width: 95%; }
  .about-us_benefits {
    margin-top: 45px; }
  .slider_reviews .slick-slide p {
    padding: 1%; }
  .information_right {
    display: none; }
  .footer_post {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .footer_post > div {
    margin-bottom: 15px; }
  .footer-bottom p {
    text-align: center; }
  .footer .container {
    width: 100%; } }
